@use "variables" as *;

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: $form-row-gap;
    margin-bottom: $form-row-margin-bottom;

    @media (max-width: $form-row-breakpoint) {
        flex-direction: column;
        gap: 0;
    }

    > * {
        flex: 1 1 0;
    }
}